@import "colors";
@import "container";
@import "footer";
@import "buttons";
@import "card";
@import "icon";
@import "navbar";

html
{
  background-color: $background-color;
  //width: 100%;
  //height: 100%;
  margin: 0;
  padding: 0;
}

body
{
  margin: 0;
  background-color: red;
}

#app
{
  width: 100%;
  //height: 100%;
  margin: 0;
  padding: 0;
  background-color: $background-color;

}







