#navbar
{
  background-color: $dark-color;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 75px;
  margin-bottom: 25px;

  .item-logo
  {
    min-width: 200px;

    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .logo
    {
      top: 10px;
      background-color: #B50202;
      margin: 15px;
      position: absolute;
      height: 75px;
      border-radius: 7px;

      //top: 45px;

      img
      {
        //position: absolute;
        //top: 20px;
        width: 75px;
        height: 75px;
      }
    }

    p
    {
      margin-top: 30px;
      margin-left: 100px;
      line-height: 12px;
      color: white;
      font-size: 12px;
      text-decoration: none;
    }
  }

  .item-navbar
  {
    display: flex;
    line-height: 75px;
    flex: 1;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;

    div
    {
      margin: 0 auto;
    }

    &:hover
    {
      background-color: grey;
    }
  }
}


